obj/
build/
bin/
*.d
*.o
*.a
*.out
*.dSYM/
.DS_STORE
tags
tmp
vgcore.*
output
log
logs
*.log
*.out
*out
outputs/
reports/
.vscode/
mp2/main
mp2/known_hosts
mp3/*/blocks
mp3/*/data
mp3/*/main
mp3/*/*.out
